*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background-size: cover;
    background-position: cover;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}
body nav{
    background-color: rgb(167, 056,56);
    text-align: center;
}
h1{
    float: left;
    color: blue;
}
nav ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    float: right;
    gap: 2rem;
}
nav ul li {
    width: 220px;
    padding: 5px;
    color:black
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    background-color: cyan;
    border-radius: 3px;
}
.sub-menu1{
    display: none;
}
nav a:hover .sub-menu1{
    display: block;
    position: absolute;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
}
.top-menu{
    margin-right: 8px;
} 
nav a:hover .sub-menu1{
    display: block;
    position: absolute;
    margin: 15px;
    margin-top: -15px;
}